[2014-02-09 05:14] mwarkentin opened #1 "Add rate limiting for status endpoint"
We can use https://github.com/gmcquillan/django-brake

### Questions:
* Do we need to worry about django projects without a cache set up? Will django-brake just fail gracefully?
* How can users customize the rate limiting over the various timelines?
* Should we just leave rate limiting to the django project?
* How do we deal with the [required customization](https://github.com/gmcquillan/django-br

[2014-02-09 05:15] mwarkentin opened #3 "Specify backing services to watch in settings.py"

[2014-02-09 05:16] mwarkentin opened #5 "Check elastic search"

[2014-02-09 05:16] mwarkentin opened #8 "Check celery / broker"
- http://stackoverflow.com/questions/8506914/detect-whether-celery-is-available-running
- https://github.com/gpennington/django-ping/blob/develop/ping/checks.py#L89-L108

[2014-02-10 14:41] mwarkentin opened #11 "Status dashboard"
Human-readable grid that shows your various backing services with green/red status indicators.

[2014-04-03 13:23] mwarkentin opened #13 "Clean up module level settings"
Brought up by @kezabelle in #12:

[2014-04-23 13:41] mwarkentin opened #14 "Check for postgres schema errors"

[2014-09-04 23:03] #3 closed, assigned to nobody

[2014-09-04 23:04] mwarkentin opened #16 "Tests are failing after django 1.7 release"
### [Failing build](https://travis-ci.org/mwarkentin/django-watchman/builds/34444498)

[code]

[2014-09-05 02:46] #16 closed, assigned to nobody

[2014-09-06 02:10] mwarkentin opened #19 "Add `skip` GET parameter to skip a specific check"
eg. `http://127.0.0.1:8080/watchman/?skip=watchman.checks.email_status`

[2014-09-08 17:35] #19 closed, assigned to nobody

[2014-12-20 00:03] mwarkentin opened #21 "Check rabbitmq"
See https://github.com/waveaccounting/payments/blob/master/payments/utils/checks.py#L9-L32

[code]

[2015-01-21 23:07] dlanger opened #22 "Emails sent by mail check don't indicate they're from django-watchman"
It would be nice if the emails sent by the `_check_email` [function](https://github.com/mwarkentin/django-watchman/blob/master/watchman/checks.py#L56) had a body that indicated they were generated by `django-watchman`, in order to aid debugging of email servers.

We should also indicate somewhere that this check might cost users money, if they check `django-watchman` especially aggressively - for

[2015-01-21 23:24] mwarkentin commented on #22
:+1: I'll look at updating this soon.

[2015-01-23 17:00] mwarkentin opened #23 "Add management command to test non-app servers"
As per discussion w/ VMFarms, it would be useful to have a management command to test database, cache, etc. connections from non-app servers (celery workers, etc.)

[2015-01-25 15:38] mwarkentin opened #24 "Refactor python 2/3 test compatibility"
There are a few ways of dealing with checking that items are equal:

### test_utils.py:
[code]

### test_views.py
[code]

[2015-01-25 18:03] mwarkentin opened #26 "Check file content on storage check"
This was added in https://github.com/mwarkentin/django-watchman/commit/4b54823, but was failing on Python 3 for unknown reasons: https://travis-ci.org/mwarkentin/django-watchman/builds/48261806

@dlanger Any ideas what might cause this to work on 2.7, but not 3.4?

I'm going to pull that out of the `0.5` branch, and leave this issue open to track it.

[2015-01-27 00:27] mwarkentin opened #27 "Use a form to parse data on `status` view?"
As per @dlanger's comment on #25 - it's a little bit ugly the way we're parsing the query strings. Might be worth looking into using a form instead, although it doesn't look like there's a good way to deal with list-type params like we're using here (`?check=foo&check=bar`).

Ref: http://stackoverflow.com/questions/17159567/how-to-create-a-list-of-fields-in-django-forms

[2015-02-06 02:32] mwarkentin opened #28 "Add `ENABLE_PAID_CHECKS` setting or similar"
Rather than having to modify the `WATCHMAN_CHECKS` setting in order to enable the `email` check (and potentially others which may need to be disabled by default due to potential cost) - instead there could be a single toggle which enables / disables any paid checks.

Default to `False`.

[2015-02-06 16:24] #28 closed

[2015-06-30 21:47] #11 closed

[2015-06-30 22:28] mwarkentin opened #32 "Exceptions in middleware cause generic django 500"
"Overall, the design of Django's middleware assumes that middleware is reliable and will not throw exceptions under normal circumstances."

Related reading:
- https://groups.google.com/forum/#!topic/django-developers/-ncPqVzF8W8
- https://code.djangoproject.com/ticket/12250
- https://code.djangoproject.com/ticket/12909
- https://code.djangoproject.com/ticket/16367

[2015-07-02 15:02] mwarkentin opened #33 "Expose watchman metadata in response"
* watchman version
* ??

[2015-07-02 20:35] #33 closed

[2015-07-02 23:39] mwarkentin opened #36 "Information leakage: X-Watchman-Version"
As raised by @blag in https://github.com/mwarkentin/django-watchman/pull/35:

[2015-07-02 23:50] mwarkentin commented on #36
Also, I've verified that this header is **not** set when you attempt to hit the endpoint without authentication:

[code]

[code]

[2015-07-02 23:52] blag commented on #36
Awesome! Since that's a potential security issue, I think that is an excellent candidate for a test. :stuck_out_tongue_winking_eye:

[2015-07-03 02:43] mwarkentin opened #37 "Add django-watchman testimonials"
### Potential testimonials:
- Wave
- VMFarms
- Contributors
  - [kezabelle](https://github.com/kezabelle)
  - [blag](https://github.com/blag)
- [Github search for django-watchman](https://github.com/search?q=django-watchman&type=Code&utf8=%E2%9C%93)
  - hectcastro, from [nyc-trees](https://github.com/azavea/nyc-trees/issues/232#issuecomment-76791954) (emailed)
  - kdeloach, from [model-my-watershe

[2015-07-31 17:30] hany opened #38 "Check Redis"
This is for redis usage outside of the built-in django caching functionality, which we already have a check for.
- Will require a `WATCHMAN_REDIS_URL(S)` setting
- Is there a "standard" redis setting which we could try first?
  - `REDIS_URL`
  - `DJANGO_REDIS_URL`
- How do we know which redis lib is installed? Do we need to try to support multiples?
  - http://redis.io/clients#python
  - Start wit

[2015-08-13 22:50] mwarkentin opened #39 "Build hubot-django-watchman"
hubot plugin for checking on watchman status from within slack, hipchat, etc.
- store list of watchman urls as comma-separated environment variable (`HUBOT_DJANGO_WATCHMAN_URLS)
- check all available watchman urls: `@hubot watchman me`
- check specific watchman url: `@hubot watchman me <url>`
### Questions
- How to display response?

[2015-08-14 15:44] mwarkentin commented on #37
-- Hany Fahim, CEO, [VM Farms](https://vmfarms.com/)

[2015-08-17 02:00] mwarkentin opened #42 "Online demo / easy set up of example site"
* Deploy a sample app to Heroku
* Provide a Vagrantfile
* Provide an example Heroku app

## app.json

[code]

[2015-08-18 01:56] mwarkentin commented on #37
Sample email:

[code]

[2015-08-18 02:08] mwarkentin commented on #1
Turned out to not be an issue in practice so far.

[2015-08-18 02:08] #1 closed

[2015-08-18 02:14] mwarkentin commented on #14
Not really sure what this idea was.

[2015-08-18 02:14] #14 closed

[2015-08-18 02:27] mwarkentin commented on #24
Meh. More differences than just the assert method to use.

[2015-08-18 02:27] #24 closed

[2015-08-18 02:27] #27 closed

[2015-08-19 02:23] mwarkentin opened #43 "Customize HTTP status code on failed checks"

[2015-08-28 21:38] mwarkentin opened #44 "Look into similar libraries"
- https://github.com/KristianOellegaard/django-health-check
- https://github.com/gpennington/django-ping
- https://github.com/ianheggie/health_check (ruby)

Any checks that we could use?

[2015-09-01 20:27] mwarkentin opened #45 "Return total "response time" in watchman response"
Could be useful to help debug if watchman requests are taking a long time to return.

[2015-09-09 21:36] kilbasar commented on #43
See my pull request (#46). It adds a setting to return code 500 if any check is failed.

This lacks granularity (you can't specify which checks trigger a 500, they all do), but since the LB/whatever can specify which checks it wants to run, I don't see that as an issue.

By the way, great work on the module, really helpful!

[2015-09-14 18:32] ravangen opened #47 "django.core.cache.get_cache deprecated"
Found in [v0.6.0](https://github.com/mwarkentin/django-watchman/tree/v0.6.0)

[django.core.cache.get_cache](https://docs.djangoproject.com/en/1.8/topics/cache/#django.core.cache.get_cache) has been deprecated since Django 1.7 in favour of using [django.core.cache.caches](https://docs.djangoproject.com/en/1.8/topics/cache/#django.core.cache.caches).

Newer versions of django packages are not implem

[2015-09-14 19:36] mwarkentin commented on #47
@ravangen Thanks for reporting this. At first glance, it looks like the simplest thing is probably to check the django version. If `django.VERSION < 1.7`, use the old imported function, else use the new `caches` dict-like object.

[2015-09-14 23:11] ravangen commented on #47
Sounds reasonable. django-redis took a [similar approach](https://github.com/niwinz/django-redis/blob/master/django_redis/__init__.py#L9).

[2015-10-03 19:29] mwarkentin commented on #5
https://github.com/mwarkentin/django-watchman/compare/master...gerlachry:master

[2015-10-17 03:39] mwarkentin commented on #43
Closed in #46.

[2015-10-17 03:39] #43 closed

[2015-10-19 01:44] mwarkentin opened #49 "Sort caches / dbs"
For apps with large numbers of dbs or caches, random sorting can make it hard to find a specific one - we should instead sort by the first key in the dictionary:

[code]

[2015-10-30 08:08] soulraven opened #50 "Django 1.9"
Any plans to migrate to Django 1.9?

[2015-10-30 14:28] mwarkentin commented on #50
@soulraven I haven't tested w/ Django 1.9 - have you run into some issues with the pre-release?

Generally the plan is to ensure that it works with the officially supported Django releases (1.7, 1.8 at the moment), but I've opened a branch for Travis CI to test against the 1.9 beta: #51

It looks like all tests are passing on the 1.9b1 release. If you have any specific issues you've run into, I'd

[2015-10-30 14:44] soulraven commented on #50
for the moment no, only warnings related to urlpatterns and pattern() that will not be present in 1.9

[2015-10-30 14:53] mwarkentin commented on #50
@soulraven Ah yes, the switch to just using a list of `url`s instead of using `patterns()`: https://docs.djangoproject.com/en/1.9/releases/1.8/#django-conf-urls-patterns

It doesn't look like they actually have the deprecation version for `patterns()` in the docs as far as I can tell - can you paste the warning you're receiving?

[2015-10-30 16:30] soulraven commented on #50
hello,
this is the warning
[code]

[2015-10-30 16:55] mwarkentin commented on #50
Thanks @soulraven - looks like it should be ok through 1.9 (removed in 1.10), but this is definitely a change that should happen.

I'll look at making the change in #51.

[2015-11-05 03:21] #50 closed

[2015-11-05 03:24] mwarkentin commented on #50
@soulraven This should be updated in the next release.. thanks again for the report. :smile:

[2015-11-05 03:26] mwarkentin opened #53 "Default to `500` response code when there's an error"
Related: #43, #46

I've come across a few use cases recently which are better handled by returning a `5XX` error code when there's an issue rather than using the contents of the response to determine.

We should update the default error code in the next release to be `500`.

[2015-11-05 03:42] #53 closed

[2015-11-08 23:54] benwebber opened #55 "setup.py should not import main package"
The setup script should not [import the main package](https://github.com/mwarkentin/django-watchman/blob/master/setup.py#L14).

`watchman/__init__.py` may grow in the future. For example, it might be useful to raise certain objects to the top level of the API for a nicer user experience:

[code]

At present, this would lead to an `ImportError` on installation, since setuptools would try to import

[2015-11-09 00:03] mwarkentin commented on #55
Hey @benwebber, thanks for the suggestion - just to clarify, the issue would be if I tried to import something from deep in watchman within `__init__.py`, so that others could just import it directly from watchman?

Let me ponder on this for a while.. I hadn't seen bumpversion before, but it looks interesting.

[2015-11-09 00:04] mwarkentin commented on #55
PS. Did you hear about django-watchman from my talk at Pycon today, or come across it some other way?

[2015-11-09 00:08] mwarkentin commented on #55
Totally blanked on why your username sounded familiar.. ignore that last question. :)

Were you at Pycon though? Didn't see you there.

[2015-11-09 00:13] benwebber commented on #55
Strictly speaking, you'd hit this when importing anything from under the `watchman` namespace. Raising objects to the top level of the API is a typical use case.

Indeed! Not for the full conference. I did catch your lightning talk, though, bang-up job.

[2015-11-09 00:23] mwarkentin commented on #55
Thank you sir.. Glad you could make it!

I'll probably take a look at switching to bumpversion during sprints tomorrow. Anyone from VMF making it out to the sprints?

[2015-11-09 13:42] benwebber commented on #55
Don't think so. Consider #56 my sprint contribution :smile_cat:

[2015-11-09 16:47] #49 closed

[2015-11-09 17:12] mwarkentin opened #58 "Configure .editorconfig for consistency w/ contributors"
* http://editorconfig.org/
* https://news.ycombinator.com/item?id=10531788
* https://github.com/carljm/django-model-utils/blob/master/.editorconfig

[2015-11-09 17:29] #58 closed

[2015-11-09 21:40] #42 closed

[2015-12-01 16:27] mwarkentin opened #66 "Should not pin `django-jsonview` in setup.py"
https://github.com/mwarkentin/django-watchman/blob/master/setup.py#L40

Could be difficult to resolve conflicts - find some best practices for this somewhere, or just unpin?

[2015-12-01 19:47] mwarkentin opened #67 "Check for required environment variables"
Configure a list of environment variables to assert are set in `settings.py`.

Should there be some default environment variables to check?

* `SECRET_KEY`
* ???

[2015-12-02 08:26] kezabelle commented on #66
Pinning specific versions is something I'd expect to see in `requirements.txt`, as it provides a known baseline from which things may be explored if problems arise. `setup.py` should use loose versions (unless there's a *strong* reason for pinning) so that users may benefit from dependency improvements/bugfixes/security releases without the dependee-package's intervention (in semver, by bumping a

[2015-12-02 13:44] mwarkentin commented on #66
Thanks, that's definitely along the lines of what I was thinking.

[2015-12-02 14:16] mwarkentin commented on #66
@kezabelle So I believe we needed the improved Django 1.8 compat in `django-jsonview#0.5.0` - would you recommend unpinning completely, or changing to `django-jsonview>=0.5.0`?

[2015-12-02 15:12] kezabelle commented on #66
I'd suggest (personally) pinning to the minimum required version, on the basis that if a user has an old version already, and wants to add watchman, the watchman package would break without it's necessary version, and they won't know why; whereas at least if their code stops working as a result they'll hopefully know the code and understand why, and it's an edge case anyway (because one would hope

[2015-12-10 21:56] #47 closed

[2015-12-11 23:25] mwarkentin opened #70 "Fix `test_get_cache_less_than_django_17`"
On Django 1.9, this test is failing: https://travis-ci.org/mwarkentin/django-watchman/jobs/96298517

It looks like the mock isn't working as expected, which causes it to blow up when the old `get_cache` method is called on `django.core.cache`.

[2015-12-11 23:26] mwarkentin commented on #70
@justinsacbibit Any thoughts?

[2015-12-11 23:37] #66 closed

[2015-12-14 01:25] mwarkentin opened #73 "Add header support for token authentication"
This will be both cleaner, and more secure (not logging authentication token in access logs, etc).

Determine if there's a "standard" authentication header, or if we should just use something like `X-Authentication-Token` or similar.

[2016-03-07 02:43] mwarkentin commented on #73
`Authorization: WATCHMAN-TOKEN Token="<token>"`

* http://stackoverflow.com/questions/7802116/custom-http-authorization-header
* http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-auth-using-authorization-header.html

[2016-03-15 22:30] robmessick opened #76 "Add setting to disable/log stacktrace"
I would like an option to suppress stacktraces from being returned by the watchman views.

Add the following new settings:

`WATCHMAN_RENDER_STACKTRACE = (True|False)` - If enabled, watchman will return the stacktrace in the json and dashboard views.

`WATCHMAN_LOG_STACKTRACE = (True|False)` -  If enabled, watchman will log stacktraces to the django logger.

[2016-03-15 22:39] mwarkentin commented on #76
Hey @robmessick, thanks for the suggestion! This sounds like an interesting idea - I'm curious on what your use-case is for this?

Is this something you might be able to take a look at adding?

[2016-03-16 03:12] robmessick commented on #76
I'm concerned about data leakage through the stack trace. We currently have our healthtest restricted to an internal network but I'd rather have the stack traces only available to our log indexer and end users be able to check the health of service. I'm happy to submit a PR as I find django-watchman solves my needs much better than django-health-check.

[2016-03-16 03:29] mwarkentin commented on #76
Makes sense. Will need to see the code for the logger setting to get a better idea on how that will work.

Please default the render setting to True so that default functionality remains the same.

[2016-04-27 17:26] tisdall opened #77 "local variable 'type_overall_status' referenced before assignment"
I'm using 0.9.0 but this seems to be an issue in the repo too.  I'm just using this project for the first time, so I suspect I have something else wrong, but there's a variable that's assigned with in an `if elif` which makes it possible to be undefined.  The line that throws the exception is: https://github.com/mwarkentin/django-watchman/blob/master/watchman/views.py#L134

From the comments and a

[2016-04-27 17:34] mwarkentin commented on #77
Hey @tisdall, thanks for the report. I haven't seen the issue you mention before. Been a while since I looked at this code, but I believe it's looking for the type on the full check ([dict](https://github.com/mwarkentin/django-watchman/blob/master/watchman/views.py#L82-L86) or [list](https://github.com/mwarkentin/django-watchman/blob/master/watchman/views.py#L92-L105)).

Can you provide a little m

[2016-04-27 17:49] tisdall commented on #77
Ah..  I see the issue.  I was going by the example you gave at the Toronto Pycon here:  https://www.youtube.com/watch?v=iEgOCY7_zGI  You've since updated it here: #21

I didn't realize I had to put the content into another dict.

[2016-04-27 17:53] mwarkentin commented on #77
Ah, perfect. If you have that working, feel free to close this ticket. Are you using the new `@check` decorator that's provided as well?

[2016-04-27 18:02] tisdall commented on #77
Well, you may want to expand on the documentation a little...  what I have is this:
[code]

I'm not 100% sure, but it doesn't look like the `@check` would work decorating the method pointed to by `WATCHMAN_CHECKS` since it would be missing the check name.  It seems like you should be able to do a `@check('check_name')` but I can't get that to work.

[2016-04-27 18:08] tisdall commented on #77
It seems like `@check` should do a `return {func.name: response}` instead of a `return response`, but I guess that would be a breaking change.

[2016-04-27 18:16] mwarkentin commented on #77
Yeah, for now I think you'll need to call an inner function with that decorator (basically what we're doing here: https://github.com/mwarkentin/django-watchman/blob/master/watchman/checks.py#L68-L81).

I could be open to a change to how the decorator worked, but would need to make sure it works with checks that are lists as well (like caches/databases checks).

Any place specific in the docs that

[2016-04-27 18:17] tisdall commented on #77
^_^  Okay, I made this:
[code]
So, now I can just do
[code]

[2016-04-27 18:19] mwarkentin commented on #77
Neat! Definitely something I might be interested in using for our built-in decorators that we provide.. thanks!

[2016-04-27 18:19] tisdall commented on #77
Well, the example in the video is misleading, but it'd be hard to modify that (perhaps a note below the picture in the README).  But also the description under "Custom Checks" just shows a `my_check` method and it seems like you should be able to point to that directly in the `WATCHMAN_CHECKS`, but that would obviously not work.

[2016-04-27 18:27] mwarkentin commented on #77
True - I'll try to get that updated soon.. thanks!

[2016-04-27 18:31] tisdall commented on #77
Back to the original exception I raised at the beginning of this thread...  you may want to put an `else:` in there with an Exception explaining it's looking for a list or a dict.

[2016-04-27 18:44] tisdall commented on #77
Any way...  I have my working rabbitmq test now.  Thanks for the help and thanks for the great project!

[2016-04-27 18:53] mwarkentin commented on #77
That seems like a good idea as well, thanks! Let's leave this issue open until I'm able to resolve those issues.

[2016-04-27 19:12] mwarkentin commented on #77
Let me know if you come up with any other interesting uses for it beyond RabbitMQ :)

[2016-04-27 19:28] tisdall commented on #77
well, if you're interested in examples...  here's my finished checks for rabbitmq and celery:
[code]

[2016-04-27 19:34] mwarkentin commented on #8
@tisdall provided an example of a celery check he added in #77:

[code]

[2016-04-27 19:34] mwarkentin commented on #77
Nice, thanks!

[2016-04-27 20:45] tisdall commented on #8
I derived it from the StackOverflow question above...  Make sure to include the `from celery.task.control import inspect`

[2016-04-27 21:10] mwarkentin opened #78 "Enable arbitrary headers for email check"
This can help with enabling "test mode" if your email provider supports it (eg. Mailgun's [`X-Mailgun-Drop-Message: Yes` header](https://documentation.mailgun.com/user_manual.html#sending-via-smtp).

We're already setting a [header](https://github.com/mwarkentin/django-watchman/blob/master/watchman/checks.py#L45-L52), so the simplest solution would be to allow a dict to be specified in the setting

[2016-05-02 15:52] mwarkentin commented on #13
* http://stackoverflow.com/questions/11238514/why-is-djangos-settings-object-a-lazyobject
* https://docs.djangoproject.com/en/dev/internals/contributing/writing-code/coding-style/#use-of-django-conf-settings

[2016-05-02 16:54] #78 closed

[2016-05-02 17:08] mwarkentin commented on #73
This will be fixed by #75

[2016-05-02 17:33] #73 closed

[2016-05-20 14:01] #70 closed

[2016-05-20 14:16] mwarkentin commented on #21
See @tisdall's example here: https://github.com/mwarkentin/django-watchman/issues/77

[2016-05-20 14:22] mwarkentin opened #84 "Django 1.10: AttributeError: type object 'BaseCommand' has no attribute 'option_list'"
Looks like there's a breaking change in Django 1.10: https://travis-ci.org/mwarkentin/django-watchman/jobs/131705036

[code]

It was deprecated in 1.8: https://docs.djangoproject.com/en/1.8/howto/custom-management-commands/#django.core.management.BaseCommand.option_list

New example on how to do optional arguments: https://docs.djangoproject.com/en/1.8/howto/custom-management-commands/#custom-comm

[2016-05-23 10:15] ldng commented on #84
Actually it's a really quick and dirty that I should not have submit it to django-waffle
Proper way is to port to argparse

[2016-05-23 14:39] mwarkentin commented on #84
Thanks, I'll take a deeper look.

[2016-07-18 12:56] ulope opened #85 "Unavailable DB causes generic 500 if `ATOMIC_REQUESTS` is enabled"
When [`ATOMIC_REQUESTS`](https://docs.djangoproject.com/en/1.9/ref/settings/#std:setting-DATABASE-ATOMIC_REQUESTS) is enabled any database error (e.g. server unreachable) causes the generic django 500 error page to be shown.

This can be prevented by decorating the status view with [`@transaction.non_atomic_requests`](https://docs.djangoproject.com/en/1.9/topics/db/transactions/#django.db.transact

[2016-07-18 15:27] mwarkentin commented on #85
@ulope Thanks for the report! Give me a bit of time to try to reproduce and fix - alternatively if you were interested in opening a PR, I'd be happy to review and merge.

[2016-07-18 15:45] ulope commented on #85
Yeah, I probably have some time this week to prepare a PR.

[2016-07-18 16:15] mwarkentin commented on #85
Awesome, not sure if there's an easy way to reproduce this in a test case, if so - that'd be ✨

Let me know if you need any help or aren't able to do the PR.

[2016-07-25 15:16] mwarkentin opened #86 "Support multiple auth tokens"
## Use cases:

* "Non downtime" rotations: add a second token temporarily, update all monitoring to use second token, remove first token
* Different tokens for different users: could enable improved access logging, reduce impact of a token leak, etc.

## Current design

Set `WATCHMAN_TOKEN` to a single token value

## Proposed design

New environment variable: `WATCHMAN_TOKENS`

This would be a co

[2016-07-25 15:18] mwarkentin commented on #86
Should add a deprecation warning to `WATCHMAN_TOKEN`, but support it for a few releases going forward.

[2016-07-29 23:14] mwarkentin opened #89 "Review and fix quantified code suggestions"
Several valid looking suggestions: https://www.quantifiedcode.com/app/project/gh:mwarkentin:django-watchman

[2016-07-31 02:28] mwarkentin opened #90 "Replace vagrant for sample project with docker"

[2016-07-31 02:43] #89 closed

[2016-07-31 02:46] #85 closed

[2016-07-31 02:46] mwarkentin commented on #84
Fixed by #87

[2016-07-31 02:47] #84 closed

[2016-08-02 15:54] #86 closed

[2016-09-01 14:16] mwarkentin opened #93 "Set timeout for watchman checks"
Currently there's no way to set timeouts for checks - so you'll get a generic error if your request times out on it's own:

[code]

It'd be nice if we could set a timeout on the checks so that we could see which specific check took too long.
### Questions
- Should the timeout be global, or per check? Both?
- Can you customize it with query params, CLI options, etc.?

[2016-10-24 12:24] tisdall opened #94 "drop empty static files"
Everything in watchman/static/ are empty files and have been since they were added by cookie-cutter...  I think it's safe to just remove them.

I noticed when I ran `manage.py collectstatic` and js/watchman.js popped up in my static directory.

[2016-10-24 12:38] mwarkentin commented on #94
Thanks for the report! I'll take a deeper look shortly.

Would you be open to creating a PR once I've taken a closer look?

[2016-10-24 12:41] tisdall commented on #94
Sure, if that helps.  I currently don't have a fork and figured it would be straight forward for you to just delete the directory.

[2016-10-24 14:18] mwarkentin commented on #94
Fixed by https://github.com/mwarkentin/django-watchman/pull/95.

[2016-10-24 14:18] #94 closed

[2017-01-21 20:10] dlanger opened #96 "Customize sender for the email check?"
The sender for the email check is [hard-coded](https://github.com/mwarkentin/django-watchman/blob/64aa78e12257b714a0d215966bdaf9dbaf2bc5fc/watchman/checks.py#L51) to `watchman@example.com`. May email vendors (SES, Postmark, etc.) will only let you send from email address or domains you've verified with them, and there's no way to verify `watchman@example.com`.

It'd be handy if you could set the s

[2017-01-22 01:06] mwarkentin commented on #96
:+1:

[2017-02-02 08:26] guettli opened #97 "Docs for new comers: Calling side of django-watchman"
I think it would help new comers, if you could tell some words about the "calling side" of django-watchman. I mean the client which calls the http end point and which collects and acts on the reported status messages.

I know that this is not the job of django-watchman, but it helps new comers to understand the big picture.

[2017-02-02 16:01] mwarkentin commented on #97
@guettli Thanks for the suggestion! I agree that this would be really helpful - it would be nice to have configuration instructions for pingdom, panopta, and so on.

If I have some time I'll try to add some documentation, and of course contributions are always welcome!

[2017-02-13 17:11] mwarkentin opened #98 "Management command verbosity not working?"
[code]

[2017-02-14 02:03] mwarkentin commented on #98
@nduthoit

It looks like pre django 1.8, the `verbosity` option used to be a string: https://github.com/django/django/commit/856863860352aa1f0288e6c9168a0e423c4f5184#diff-dfc45ab8548a0777543d12d6e77c9173L185

It's now an int: https://github.com/django/django/blob/3c447b108ac70757001171f7a4791f493880bf5b/django/core/management/base.py#L240

This broke my comparison check, meaning we never switched

[2017-02-14 18:45] #98 closed

[2017-02-22 18:11] #96 closed

[2017-03-27 15:58] saily opened #101 "watchman.checks.storage should write bytes to test-file on Py3"
Hi, i'm giving `django-minio-storage` a try and got an exception when storage-check is executed. I'm running Python 3.4.5 and Django 1.10.6.

    Traceback (most recent call last):
      File "/Users/daniel/Workspace/my_project/lib/python3.4/site-packages/watchman/decorators.py", line 17, in wrapped
        response = func(*args, **kwargs)
      File "/Users/daniel/Workspace/my_project/lib/python3

[2017-03-27 16:01] mwarkentin commented on #101
@saily Thanks for the report - I'm not too familiar w/ Python 3 yet (we're starting to begin the migration though). Happy to get a fix in if you can open a PR though. :)

[2017-03-27 16:02] mwarkentin commented on #101
If you were able to add a test which could confirm that it works on both python 2.7 and 3.x that would be super helpful!

[2017-03-27 16:03] saily commented on #101
Travis will hopefully do so :-)

[2017-03-27 16:06] saily commented on #101
@mwarkentin see: https://travis-ci.org/mwarkentin/django-watchman/builds/215590048

[2017-05-19 17:02] mwarkentin opened #104 "If you have a lot of DBs, watchman can open a lot of connections"
Ran into this issue when increasing from 64 -> 1024 shards:

![](https://mwarkentin-snaps.s3.amazonaws.com/Next_Accounting_Prod__Datadog_2017-05-19_13-51-08.png)

1024 shards:

[code]

### Possible resolutions

* Provide a way to specify the set of databases to check
* Provide a way to specify a percentage of databases to check
* Connection pooling on the application level

[2017-05-27 18:34] #101 closed

[2017-08-28 12:55] tisdall opened #107 "error on sphinx using mysql interface"
I upgraded to Django 1.8 and am now getting the following exception on one of my databases:

[code]

The database is [sphinx](http://sphinxsearch.com/) using the MySQL interface.  So, it behaves a little different than a regular MySQL db, but has a listing in the `DATABASES` settings like the rest.

I'm guessing I'll have to exclude this database connection using `WATCHMAN_DATABASES` and then writ

[2017-08-28 13:09] mwarkentin commented on #107
@tisdall Thanks for the report - I'm not familiar with sphinx. The test we use for django-watchman is quite simple, just use the ORM to try to list the available tables on the database: https://github.com/mwarkentin/django-watchman/blob/master/watchman/checks.py#L39

Wonder what changed in the ORM in 1.8 to trigger this..

[2017-08-28 18:16] tisdall commented on #107
Going through the Django code, it looks like it used to call `SHOW TABLES` with MySQL but now calls `SHOW FULL TABLES` (which doesn't work in sphinx).  The change as to add the ability to filter out views from the list.

I wrote my own check that calls `SHOW TABLES` like it did before and then just excluded it from the regular database check.

Feel free to close this issue if you'd like...  The is

[2017-08-28 23:34] mwarkentin commented on #107
@tisdall is there anything in the DATABASES object that would indicate that the connection is for sphinx and not MySQL?

[2017-08-29 00:46] tisdall commented on #107
Hmm..  There might be some way to distinguish that it's sphinx and not regular mysql, I'd have to look into it.  However, out of all the database connections in all the Django instances I'd suspect less than 1% are Sphinx.  I don't think it's a good idea to try sending SQL commands to try to distinguish if it's Sphinx.  I don't know if there's any sort of passive way of detecting...  Is there any

[2017-08-29 01:59] mwarkentin commented on #107
Agreed, I was really just curious if there was anything in your databases dict which would indicate that it was a sphinx db instead of MySQL.

Going to close this, thanks for the report!

[2017-08-29 01:59] #107 closed

[2017-09-09 09:55] gdavoianb opened #108 "Singular types in dashboard"
Is this behavior really necessary? E.g., I can understand when `Caches` becomes `Cache`, but it is quite strange when `Redis` becomes `Redi` :)

[2017-09-09 11:26] mwarkentin commented on #108
@gdavoianb Hah, I'll take a look. 😊

[2017-11-23 20:58] mwarkentin opened #109 "Add python logger to allow apps to enable other forms of logging"
It would be nice if watchman provided a python logger with various levels of logging which would allow apps to manage their own logging of issues outside of direct HTTP response.

CC @felixc

[2017-11-23 20:59] mwarkentin commented on #109
http://pythonsweetness.tumblr.com/post/67394619015/use-of-logging-package-from-within-a-library

[2018-01-05 19:18] #90 closed

[2018-01-05 21:30] #109 closed

[2018-01-24 14:45] jamesmallen opened #113 "Add ability to only return status code"
A very useful feature for us would be the ability to have blank responses with HTTP status codes if the user is anonymous, and the normal operation if the user attempts authenticationf.

One way to do this would be to add a setting `WATCHMAN_ANONYMOUS_DETAILS` with a default value of `True`. I'm happy to put together a PR exploring this possibility

[2018-01-24 18:33] mwarkentin commented on #113
Hey @jamesmallen, thanks for using django-watchman and suggesting this improvement. :)

I was wondering if you could provide a bit more info on your use case for the anonymous vs. authenticated checks? Would you expect to use both types?

I'm wondering whether a blank response would be the right way to go or if it would just be to restrict the responses to "ok: true/false" and disable the other pi

[2018-01-24 19:08] jamesmallen commented on #113
On second thought, there's a lot of ambiguity around behavior when this is introduced. I'm wondering if having another view, that can be used instead of or in addition to the default urlpatterns might be a good way of achieving our goal. We would prefer not to reveal any implementation details for the anonymous view

[2018-01-24 21:14] jamesmallen commented on #113
I just opened a PR to implement the "bare status" endpoint. It is not part of the default `urls`, as it seemed to be an edge case. The PR also includes tests and an update to the README to show potential usage.

To avoid code duplication, I refactored the views to use a helper function to generate the status object. Let me know if you have any thoughts or suggestions about different ways to approa

[2018-01-31 00:04] mwarkentin commented on #104
This was fixed in #105.

[2018-01-31 00:04] #104 closed

[2018-01-31 01:23] #44 closed

[2018-01-31 07:32] guettli commented on #97
I know that new features look far more appealing than new comer friendly docs. Nevertheless I still think that new comer friendly docs containing a "big picture" are the key to success.

[2018-01-31 13:26] mwarkentin commented on #97
@guettli I have to agree with you there - I've made sure this issue won't be closed as stale. Any chance you're interested in helping to get that sort of doc started? Even a rough outline of what you think the main pieces might be would be helpful.

[2018-01-31 16:58] guettli commented on #97
@mwarkentin thank you for looking at this issue again. Up to now I don't use django-watchman since we have not decided which tool we want to use to collect the results. That's why I am curious what you suggest :-)

[2018-01-31 17:47] mwarkentin commented on #97
Ok makes sense. Personally I’ve used both Pingdom and more recently Panopta. Both have worked well for us.

Seems like it would make sense to have an “integrations” section to the doc where it could walk through the configuration for various services.

[2018-02-05 01:16] mwarkentin commented on #113
Fixed by #114

[2018-02-05 01:16] #113 closed

[2018-02-05 01:21] mwarkentin commented on #38
I'm going to close this as stale, but I still think it's a good idea. For checks which aren't configurable based on default Django settings, I'm leaning towards them being installed as separate "custom" packages (eg. `django-watchman-redis-py` which would have more knowledge about how the library is expected to be configured.

[2018-02-05 01:21] #38 closed

[2018-02-05 01:22] mwarkentin commented on #21
I'm going to close this as stale, but I still think it's a good idea. For checks which aren't configurable based on default Django settings, I'm leaning towards them being installed as separate "custom" packages (eg. `django-watchman-redis-py` which would have more knowledge about how the library is expected to be configured.

[2018-02-05 01:22] #21 closed

[2018-02-05 01:22] mwarkentin commented on #8
I'm going to close this as stale, but I still think it's a good idea. For checks which aren't configurable based on default Django settings, I'm leaning towards them being installed as separate "custom" packages (eg. `django-watchman-celery` which would have more knowledge about how the library is expected to be configured.

[2018-02-05 01:22] #8 closed

[2018-02-05 01:23] mwarkentin commented on #5
I'm going to close this as stale, but I still think it's a good idea. For checks which aren't configurable based on default Django settings, I'm leaning towards them being installed as separate "custom" packages (eg. `django-watchman-elasticsearch` which would have more knowledge about how the library is expected to be configured.

[2018-02-05 01:23] #5 closed

[2018-02-05 01:29] mwarkentin commented on #76
@robmessick this has been open for quite a while, and we recently added a "bare" endpoint in #114 - not quite the same as what you described here, but maybe it would fit for you. I'm going to close this, but feel free to reopen if the other changes don't cover your use case, or I'd be happy to look at a PR implementing your suggestion.

[2018-02-05 01:29] #76 closed

[2018-02-06 23:04] #37 closed

[2018-02-06 23:04] #77 closed

[2018-02-06 23:04] #32 closed

[2018-02-06 23:04] #39 closed

[2018-02-06 23:04] #55 closed

[2018-02-06 23:04] #45 closed

[2018-02-06 23:04] #13 closed

[2018-02-06 23:04] #26 closed

[2018-02-06 23:04] #93 closed

[2018-02-06 23:04] #108 closed

[2018-02-27 21:59] mwarkentin opened #116 "Improved interactive development with docker"
Docker works great so far, but it'd be nice to have changes get picked up automatically without having to rebuild the image.

* [ ] Split out requirements updates from full app copy
* [ ] Configure volume to sync changes between host/container
* [ ] Configure app to pick up changes (if needed)

[2018-02-27 22:00] #36 closed

[2018-02-27 22:02] mwarkentin commented on #36
@blag this definitely sat a lot longer than I expected, but I've just merged #63 which disables it by default. Not sure if you're still using watchman, but if you are, it should be out in 0.15 sometime soon.

[2018-02-27 22:07] mwarkentin opened #117 "Configure deployment to pypi via TravisCI"
* https://docs.travis-ci.com/user/deployment/pypi/
* https://docs.travis-ci.com/user/encryption-keys/
* Update docs with deployment process

[2018-02-27 22:17] blag commented on #36
Yep, I am still using it, thanks for the update!

[2018-02-27 22:22] mwarkentin commented on #36
Awesome, good to hear! Feel free to open an issue if you have any other suggestions!

[2018-04-18 13:38] reallinfo opened #121 "New logo for Watchman"
Hello, I wanted to contribute to Watchman and i designed a logo for it. If you like it, I'll send you files and pr.
I designed such a logo inspired by the image in the Readme.
if you have a logo you want i can design it.

![watchman](https://user-images.githubusercontent.com/36298335/38935258-96617b5c-4326-11e8-869d-cf6a7acc920f.jpg)

[2018-04-18 15:14] mwarkentin commented on #121
Thanks, these look great! How would it look without the eye overlaid on the "W"?

[2018-04-18 15:37] mwarkentin commented on #121
Looking good! If I'm being picky, I think tightening up the kerning on the "W A T" would look nice. :)

[2018-04-18 16:50] mwarkentin commented on #121
I think I like it with the black / grey. Text looks great!

[2018-04-18 17:02] reallinfo commented on #121
Thanks! I will send you a pr. Can I create a folder named logo? and What version should I add for Readme? (horizontal, vertical, only logo)

[2018-04-18 17:48] mwarkentin commented on #121
Creating a `logo` folder is fine. Try the vertical for the readme.

[2018-04-18 19:35] reallinfo commented on #121
Okay, I sent pr. Please check it.

[2018-04-27 17:58] chris-erickson opened #124 "Dashboard exception with custom check"
I have added a custom check that insert the Git SHA from a local file.  The json version works just fine, but the dashboard throws.  My check is:

[code]

Some possibly useful traceback stuff:

[code]
It's not super critical since the json works, but I wouldn't have suspected a small change like this would be problematic.  Thanks!

[2018-04-27 18:19] mwarkentin commented on #124
Interesting, thanks for the report. It looks like you're ending up in this branch here which is expecting a nested dict: https://github.com/mwarkentin/django-watchman/blob/master/watchman/views.py#L134-L163

Not sure off the top of my head what might be causing that.

[2018-07-03 18:46] #124 closed

[2018-08-24 02:29] dependabot[bot] opened #125 "Dependabot can't evaluate your Python dependency files"
Dependabot can't evaluate your Python dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-10-10 21:25] Ismael opened #126 "Check decorator could take name"
This is the problem I've got:

I want to write a simple check, and I want to use the check decorator to capture exceptions, so I do:
[code]

But if there's an exception it will return {ok, error, stacktrace} and I will lose my 'something' hierarchy.

So in order to use the decorator, I'd have to do:
[code]

Which feels redundant.

It'd be useful if the check decorator could take an optional name,

[2018-10-10 21:32] Ismael opened #127 "Dashboard report on error"
Say I'm checking my system and found, for example, there are no active Celery workers.
I'd would return this from my check:

[code]

The dashboard will report Error but won't show the details.

I think the dashboard could show the whole result for easier debugging.

[2018-10-12 20:43] mwarkentin commented on #126
This sees reasonable, unfortunately I don't have any bandwidth to work on this right now. Is this something you'd be interested in opening a PR for?

[2018-10-12 20:44] mwarkentin commented on #127
This seems reasonable as well, if you're interested in working on a PR.

[2018-10-17 07:17] saschametz opened #129 "/ping url accessible despite token"
I've set a token in the settings to protect all watchman urls.
But you can still access the /ping view

[2018-10-17 12:28] mwarkentin commented on #129
This is true, however:

* It doesn't expose any information about your systems (like a stack trace trying to connect to the DB could) - I suppose it exposes that you're using django-watchman?
* It's used as a health check for load balancers, etc. which might not be easy to keep up to date with token changes

I'm not sure what a good option would be here to make it inaccessible while still making i

[2018-10-17 15:08] jonespm opened #130 "Make watchman settings importable"
The django-debug-toolbar had a fix a few years ago to make it "import safe" https://github.com/jazzband/django-debug-toolbar/issues/801

This basically changed up the settings so that anything calling getenv wasn't called directly at the time. This is useful to be able to import the default attributes and configuration from a local settings

For instance this doesn't seem to be possible in (local)

[2018-10-17 21:35] mwarkentin commented on #130
Is this similar to what was discussed in #13? I'd be open to a PR to improve this - extracting into a standalone `constants.py` seems like it would be the simplest approach. Any downsides?

[2018-10-18 15:30] jonespm commented on #130
I created a simple PR for just moving out these 2 constant tuples to a separate file, tested it locally and updated the README.

[2018-10-30 04:19] #125 closed

[2018-12-03 20:01] lsloan opened #132 "bug: check required to return "ok" property"
I wrote the following custom check for django-watchman.  If it doesn't return an "ok" property, errors and a stack trace are shown in the output.

[code]

When run with the "ok" property commented out, as shown above, I get the following response:

[code]

If I uncomment the "ok" property, all works well:

[code]

I'm using macOS 10.13.2 and for Python, "Python 3.6.5 :: Anaconda, Inc."

[2018-12-03 21:55] mwarkentin commented on #132
Thanks for the report - is the gist that you'd like to be able to specify your own field to be the "ok" check (in this case `latestIntervalOk`)? What do you see as the benefit of this over just renaming your field to `ok`?

I don't see a technical reason this wouldn't work, though it would make things a bit more complex so I'd like to make sure there's an enticing use case. We would need some way

[2018-12-05 17:04] lsloan commented on #132
Yes, improving the documentation (and examples and docstrings) would be a big help.  I didn't see any mention in the documentation that `ok` must be in the results.  It took me some time to figure out why my check was failing.  It would help if the docstring for `@check` stated that `ok` is required.

In my example, I like having the property `latestIntervalOk` in the results because it's a kind o

[2018-12-05 17:26] lsloan opened #133 "watchman.checks.storage hangs under OpenShift"
I'm using watchman with an application hosted with OpenShift.  The checks I developed on my local machine (not using OpenShift) worked well, but as soon as I deployed them to the OS environment, they would fail.  Requests for `/watchman` would wait for a long time before eventually timing out.

Examining the OS logs, I found that watchman was performing my check, the database check, and the storag

[2018-12-18 22:34] #126 closed

[2018-12-18 22:34] #127 closed

[2019-02-04 21:13] mwarkentin commented on #133
Sorry, I missed this. I'm curious what it is about OpenStack that is causing the issue. If you use the django storage functionality to actually read / write a file to OpenStack do you see the same behaviour or it works fine?

The storage check is just doing a couple of basic operations using the configured storage: https://github.com/mwarkentin/django-watchman/blob/master/watchman/checks.py#L60-L6

[2019-02-11 09:52] #132 closed

[2019-02-13 20:47] tisdall commented on #8
Just an FYI on this...  I was looking at implementing AWS Route 53 Health Checks and this celery worker check seems to add almost a full second to the response time (the health check needs to respond within 2 seconds).

[2019-02-13 21:17] tisdall opened #135 "bare url missing"
The docs say that `/watchman/bare/` gives the 'bare' endpoint where it should respond with just 200 or 500, but that's not actually in the urls.py.  The docs also talk about adding your own entry to your own urls.py to access it, though.  Maybe the mention of `/watchman/bare/` was an accidental commit and it's not supposed to be accessible by default?

@jamesmallen

[2019-02-13 21:31] tisdall commented on #8
also, newer versions of celery require something like
[code]

[2019-02-14 01:10] mwarkentin commented on #135
@tisdall thanks for reporting this - are you referring to some other section of the docs than this? https://github.com/mwarkentin/django-watchman/blob/25902a970eab85ae5c5cc45684475a1780f8d2e2/README.rst#bare-status-view

[2019-02-14 13:06] tisdall commented on #135
@mwarkentin - Yes, I'm referring to the [very last line of that document](https://github.com/mwarkentin/django-watchman/blob/25902a970eab85ae5c5cc45684475a1780f8d2e2/README.rst#instructions):  "5. Visit watchman bare status in your browser: http://127.0.0.1:8000/watchman/bare/ ".  That URL does not work.

[2019-02-26 19:00] mwarkentin commented on #135
@tisdall Ah, I see - the URL is can be set to whatever you would like, but it needs to be defined in the django settings.

The piece you're referring to is how to test things out on the sample project that's provided if you check out django-watchman, and you can see that the `/bare/` url is configured in that project: https://github.com/mwarkentin/django-watchman/blob/25902a970eab85ae5c5cc45684475

[2019-02-26 21:00] tisdall commented on #135
Ah..  Yeah, I misread it then.  No, I think it's probably more clear if they're completely different and then it's obvious that it's something you manually set.  I think I assumed because it was under "/watchman/" that it should be something defined within that app.

[2019-02-26 21:00] #135 closed

[2019-03-06 16:47] tisdall commented on #8
Since this check is almost 1 second, it's not very practical.  I found a much much faster check is to have a really simple celery task and then call it as a check.

Here's my really simple task:

[code]

And my django-watchman check is this:

[code]

So, if celery isn't responding than the check will timeout after half a second.  When it is working, though, it seems to respond in about 0.01 second

[2019-03-06 18:19] pcraciunoiu opened #136 "pypi release"
Hey there, thanks for the great work on this! Any way we can get a release on pypi? The docs don't apply to the current release, so I installed off of master, but it'd be nice to have an actual release since it's been over a year, even if it's a beta or rc.

[2019-03-19 13:25] mirceaciu commented on #130
small impediment (maybe?). I just did a `pip install django-watchman` and this merge does not seem to be built (I don't have the separate constants file)

![image](https://user-images.githubusercontent.com/9830334/54609218-2b460800-4a5b-11e9-9e7d-e766c39409c6.png)

[2019-03-19 14:07] jonespm commented on #130
Yeah, it looks like there hasn't been a new version released since 0.15.0 on Feb 2018...

It looked like I'd locally been installing and using this still as something like
pip install git+https://github.com/mwarkentin/django-watchman@master#egg=django-watchman

And didn't notice there wasn't a new version released yet.

[2019-03-19 14:49] mirceaciu commented on #130
my comment seem to relate to https://github.com/mwarkentin/django-watchman/issues/136

[2019-03-19 17:14] mwarkentin commented on #130
Oops, sorry about that. I'll try to get a new release out shortly!

[2019-03-19 17:31] mwarkentin commented on #130
I've pushed [django-watchman 0.16.0](https://pypi.org/project/django-watchman/0.16.0/) to pypi.. hope that helps!

[2019-03-19 17:31] mwarkentin commented on #136
I've pushed [django-watchman 0.16.0](https://pypi.org/project/django-watchman/0.16.0/) to pypi.. hope that helps!

[2019-03-19 17:31] #136 closed

[2019-03-21 20:33] mwarkentin opened #137 "Look into using https://github.com/toolmantim/release-drafter"

[2019-03-25 13:46] peterfarrell commented on #8
@tisdall Creating a task and expecting a result only tests if one worker is available. In a high availability environments, I would expect to have more than 1 worker available with a max that is horizontally scaled. Also, if your workers are backlogged with work (due to a surge), then the task may fail because it was queued because the using a test task is based on the premise that is will be proc

[2019-03-25 16:07] tisdall commented on #8
@peterfarrell - The `ping` method example I gave above doesn't have a `timeout` arg, but the following does seem to work extremely fast:

[code]

The issue is the `ping` doesn't know how many workers actually exists so it waits for the whole timeout and then sends all responses it received.  I'm guessing a better result would be to write a new method that immediately responds after it gets respons

[2019-03-25 17:14] mwarkentin commented on #8
Someone should make a django-watchman-celery installable app that makes it super easy to do all of this. 😉

[2019-03-29 05:22] pcraciunoiu commented on #136
Yes it does, thank you!

[2019-04-12 22:00] #133 closed

[2019-04-23 15:31] tisdall opened #138 "github has wrong release tagged as "latest""
In https://github.com/mwarkentin/django-watchman/releases the latest release is still 0.15.0 while 0.16.0 is the latest in pypi

[2019-04-23 15:58] tisdall opened #139 "database connection error triggers generic 500 error when `ATOMIC_REQUESTS`"
Something seems to have broken PR #87 .  When I hit watchman and a database isn't working, it triggers a generic error before reaching watchman and then I get emailed a stacktrace.  I'm using Django 1.11.20.  If I comment out `ATOMIC_REQUESTS` in `DATABASES` then it works properly.

@ulope was the original author of the patch, so maybe they have some insight

It seems like it checks for autocommit

[2019-04-23 21:17] mwarkentin commented on #138
Fixed, converted 0.16.0 tag into a release. Thanks!

[2019-04-23 21:18] mwarkentin commented on #138
I've added an extra step to my release docs so this doesn't happen again.

[2019-04-23 21:18] #138 closed

[2019-04-24 15:32] tisdall commented on #138
Thanks.  I appreciate that you tag your releases in Github because it makes it easier to look at the code base for particular releases.

[2019-04-24 15:36] tisdall commented on #138
It looks like the readthedocs is stuck on 0.15.0 based on the [History page](https://django-watchman.readthedocs.io/en/stable/history.html) and also for both "stable" and "latest".  I think you can link it to the git tags.

[2019-04-24 17:45] mwarkentin commented on #138
Looks like I need to figure out a few other things, thanks. :)

[2019-04-30 00:58] SpamapS opened #140 "Dashboard changes order every time it is viewed"
The dashboard should be sorted in a consistent manner. This is especially useful when refreshing to see if one of the fields has changed. A simple switch to an OrderedDict should solve the problem.

[2019-05-01 18:31] mwarkentin commented on #140
@SpamapS This sounds like a great feature, unfortunately I don't have any time at the moment to work on it. Is this something you'd be interested in contributing?

[2019-07-07 19:44] #140 closed

[2019-08-19 20:20] mwarkentin commented on #117
Done.

[2019-08-19 20:25] mwarkentin commented on #117
Looks like this isn't working correctly anymore: https://travis-ci.org/mwarkentin/django-watchman/jobs/574007457

Look into switching to Github Actions?

[2019-08-23 12:25] mwarkentin opened #144 "Switch release publishing from travis-ci to github actions"
https://github.com/pypa/gh-action-pypi-publish

[2019-08-23 12:25] mwarkentin commented on #117
Replaced by #144

[2019-08-23 12:25] #117 closed

[2019-09-05 17:39] tisdall opened #146 "documentation on making own checks"
It's been a while since I've touched this stuff and I'm having some issues with custom checks.  The [docs have one example that seems to give an exception](https://django-watchman.readthedocs.io/en/latest/readme.html?highlight=%40check#custom-checks):
[code]

[code]

It seems that it should be instead this:
[code]

There's also an exception if the `'ok'` key is missing.

This is using Django 2.2.4

[2019-09-05 17:43] tisdall opened #147 "@check decorator not properly handling exceptions"
[code]

gives the following traceback (Django 2.2.4, python 3.6.7) :
[code]

[2019-09-05 17:52] tisdall commented on #147
It seems this may be answered by a previous message I sent:  https://github.com/mwarkentin/django-watchman/issues/77#issuecomment-215173249

[2019-09-05 18:12] tisdall opened #148 "exception email sent to admin on failed check"
I recently upgraded to Django 2.2.4 and using Python 3.6.7.  The checks all work correctly when successful, but exceptions from failed ones sent an email.  It took quite a while to figure out why (because it looked like the Exception was somehow getting out of the try-except block), but I think it's due to the `logger.exception` calls in the `check` decorator.  I had to make changes in Django sett

[2019-09-05 20:37] mwarkentin commented on #148
@tisdall thanks for the issues - I'm a bit slammed today but I will try to review them soon. :)

[2019-09-25 16:24] tisdall commented on #148
Looking a little more into this...

I made the following changes in settings:
[code]

That allows errors to show when `DEBUG = True` but is ignored in production.

However, emails are still sent in production because `django.request` logger sends logging errors when a 500 response is sent (which the watchman endpoint sends on a failed test when hitting the endpoint).  The [default logging in Djang

[2019-09-30 09:14] KHOSH90 opened #149 "Round Brackets don't work when using single check"
WATCHMAN_CHECKS = (
    'xyxy.health.xyxy_check'
)
If I have a **single check** like the above, WATCHMAN_CHECKS variable is taken as a string and thus when frozenset is applied in get_checks method, the output is a **set of characters** and thus I get the below error in import_string method:-
{"error": 500, "message": "h doesn't look like a module path"}
This problem doesn't occur when there are m

[2019-09-30 20:20] ulgens commented on #149
`("foo.bar")` is not a valid iterable for Python. It's same as "foo.bar". For tuples, correct syntax should be `("foo.bar", )`. I think this has nothing with django-watchman.

[2019-09-30 20:25] KHOSH90 commented on #149
Yes @ulgens you are correct. This has nothing to do with Django-watchman. But this deserves a place in the documentation.

[2019-10-22 18:18] aleksihakli opened #150 "Would django-watchman benefit from the Jazzband organization?"
Hi there! I'm wondering if Watchman would benefit from the [Jazzband organization](https://jazzband.co/) with the joint maintenance model?

[2019-10-24 13:45] mwarkentin commented on #150
Hey @aleksihakli , I'm not too familiar with the Jazzband organization (although I've definitely heard of it). My time is pretty limited for maintenance and new feature development which it sounds like this could definitely help with.

Do you have direct experience w/ Jazzband? Do you help maintain projects through the organization?

[2019-10-25 07:59] aleksihakli commented on #150
Hey @mwarkentin! I currently maintain django-axes, django-ical, and a few other projects for issues, PRs, CI pipelines, and semantic releases on PyPI.

If you'd like help on django-watchman on that, I can lend you a hand on both setting the project up for Jazzband as well as running day to day things.

@jezdez is the Jazzband project roadie (admin) and can help you with any permissions and stuff,

[2019-10-26 21:32] jezdez commented on #150
Since I just replied to @aleksihakli's similar [issue over in the django-defender repo](https://github.com/kencochrane/django-defender/issues/121#issuecomment-546640795), I wanted to clarify that it's customary to discuss if a project is a match for Jazzband first by opening a ticket with the roadies: https://jazzband.co/roadies/issue?labels=question.

@mwarkentin Feel free to open a ticket there

[2019-11-07 12:42] mwarkentin commented on #150
I'm going to lock conversation here and move it over to the jazzband repo if I go that way. Thanks @jezdez .

[2019-12-10 22:24] JBKahn opened #151 "Support for Django 3.0"
Currently, watchman relies on https://github.com/jsocol/django-jsonview which doesn't support django 3.0. Is there a plan for this repository to support it?

[2019-12-10 22:25] JBKahn commented on #151
What about reviving https://github.com/mwarkentin/django-watchman/pull/74 ? Thoughts?

[2019-12-11 14:43] mwarkentin commented on #151
I see you on https://github.com/jsocol/django-jsonview/pull/47

Let's see if it looks like that can make it into a release in the near-future and roll with that? If it looks like it's getting stuck we can revisit #74?

[2019-12-12 14:51] JBKahn commented on #151
Sure.

[2019-12-13 20:52] JBKahn commented on #151
@mwarkentin any thoughts on dropping python 2 and django<2 with the next release?

[2019-12-16 14:57] JBKahn commented on #151
It's been almost a week with no meaningful progress, any chance we can re-open https://github.com/mwarkentin/django-watchman/pull/74?

[2019-12-18 20:48] #151 closed

[2020-03-02 15:22] daniego opened #154 "Storage check with defined path"
Is it possible to have the storage check to write to write into a specific path?
In our scenario the root of the MEDIA_PATH is not writable by the user which the app runs and the check fails

[2020-03-05 01:59] mwarkentin commented on #154
Hi @daniego - this sounds like a reasonable feature! Could probably add a setting like `WATCHMAN_STORAGE_PATH` or similar which would default to the current root but could be overridden.

Unfortunately I don't have any capacity at the moment to work on this feature myself - is it something you'd be interested in contributing? If not I will ping this issue so it doesn't get closed by stalebot, but

[2020-03-05 15:46] daniego commented on #154
Great! I'll have some spare time in a couple weeks and look into it

[2020-03-05 19:44] mwarkentin commented on #154
Awesome, let me know if you have any questions and I'll try to help you out!

[2020-03-16 18:19] mwarkentin commented on #154
@daniego

This has been released in [1.1.0](https://github.com/mwarkentin/django-watchman/releases/tag/1.1.0).

Now available on pypi: https://pypi.org/project/django-watchman/1.1.0/

[2020-03-16 18:19] #154 closed

[2020-05-03 04:11] tirkarthi opened #158 "Deprecation warning due to invalid escape sequences."
Deprecation warning due to invalid escape sequences. Using raw strings or escaping them again helps in resolving this. Check https://github.com/asottile/pyupgrade/ for automatic fix of this.

[code]

[2020-05-04 13:42] mwarkentin commented on #158
@tirkarthi thanks for the report, I added the fix in #159 - looks good to you?

[2020-05-05 03:00] #158 closed

[2020-07-09 19:46] mwarkentin opened #162 "Replace twine with poetry?"
[Poetry](https://python-poetry.org/) is a modern python dependency management tool which also supports publishing packages to Pypi.

Investigate what it would look like to switch to poetry for dependency management and publishing.

[2021-04-02 20:01] mwarkentin opened #165 "Replace travis-ci with Github Actions for tests"
It doesn't seem to be working anymore:

![](https://s3.amazonaws.com/mwarkentin-snaps/Fix_HTML_ids_by_jbenua__Pull_Request_164__mwarkentindjango-watchman_2021-04-02_16-01-00.jpg)

[2021-11-01 19:30] mwarkentin opened #170 "Improved plugin system"
Could we use something like [Pluggy](https://github.com/pytest-dev/pluggy) to make custom checks / behaviour modifications more flexible?

[2021-12-20 13:16] odidev opened #172 "Test failing"
I followed the GitHub Action and working on installing and testing django-watchman package for amd64 and arm64 architectures. While testing this package using “pytest”, I am getting `ImportError: No module named 'watchman'` error. After installing watchman using the command `pip install watchman` getting another error as `ImportError: No module named 'watchman.settings'` for both architectures.

I

[2021-12-21 14:01] mwarkentin commented on #172
@odidev I haven't had a chance to finish the work to migrate the watchman tests from TravisCI to GitHub Actions unfortunately, so things are a bit broken right now. If you manage to get it working a PR would be very appreciated, otherwise I can let you know via this issue when I've got it working.

See also https://github.com/mwarkentin/django-watchman/issues/165

[2021-12-22 16:15] mwarkentin opened #173 "Failing test"
There was some hacky code put in place for this test: https://github.com/mwarkentin/django-watchman/blob/67e470775afdfbaf4c87919c5fa83d781c2e5560/tests/test_views.py#L281-L320

* Figure out if [overriding DATABASES is more supported](https://github.com/mwarkentin/django-watchman/blob/67e470775afdfbaf4c87919c5fa83d781c2e5560/tests/test_views.py#L286-L287) these days
* Figure out if #13 is still an

[2021-12-22 16:17] mwarkentin commented on #173
CC @ulope if there's any chance you're still using Django-watchman and interested in sorting this out with me. ;)

[2021-12-22 16:56] mwarkentin opened #175 "Nose is unsupported and doesn't support python3.10"
Figure out if we should switch to pytest, or just use basic `unittest` functionality for testing. For now we will exclude python 3.10 from test runs.

* https://github.com/mwarkentin/django-watchman/runs/4609329660?check_suite_focus=true
* https://docs.pytest.org/en/6.2.x/nose.html
* https://github.com/datalad/datalad/issues/6225

Traceback:

[code]

[2021-12-22 18:25] mwarkentin opened #176 "Figure out local testing story"
Removed `tox` in #174.

How do we want to support local testing?

Running the same GHA tests with [`act`](https://github.com/nektos/act) is one option.

[2021-12-22 18:30] mwarkentin opened #177 "Support pypi release through Github Actions"
Used to automate releases through Travis, which is no longer in use. Figure out how to automate releases from tags in `master` using GitHub Actions: https://github.com/marketplace/actions/pypi-publish

[2021-12-22 19:07] mwarkentin commented on #172
@odidev I got GitHub Actions testing working in https://github.com/mwarkentin/django-watchman/pull/174

Can you pull the latest from `main` and see if that's working for you now?

[2021-12-23 09:14] ulope commented on #173
@mwarkentin At the moment I'm not using django at all :/
I'll see if I have some time after Christmas to try remember what my thinking was there, but I can't promise anything ;)

[2021-12-23 12:21] mwarkentin commented on #173
No worries, figured it was worth a shot! :)

[2022-01-04 14:35] cayla opened #179 "Django security releases 4.0.1, 3.2.11, and 2.2.26 could break the storage check"
This could be config specific (our default root etc), but after upgrading to Django 2.2.26, we saw our watchman storage check consistently fail.

See `CVE-2021-45452: Potential directory-traversal via Storage.save()` on https://www.djangoproject.com/weblog/2022/jan/04/security-releases/  (diff https://github.com/django/django/commit/6d343d01c57eb03ca1c6826318b652709e58a76e)

Example traceback (sli

[2022-01-04 16:14] mwarkentin commented on #179
@cayla thanks for letting me know about this.. I'll take a look shortly. :)

[2022-01-04 16:19] mwarkentin commented on #179
Possibly related (fix?): https://github.com/mwarkentin/django-watchman/pull/156

[2022-01-04 16:20] mwarkentin commented on #179
@cayla if you need an immediate workaround, you should be able to [skip the storage check](https://github.com/mwarkentin/django-watchman#skip-specific-checks).

[2022-01-04 16:21] cayla commented on #179
@mwarkentin That is exactly what we are going to do for today.  :)

[2022-01-04 20:20] mwarkentin commented on #179
@cayla I just redeployed one of our apps with Django 3.2.11 and our watchman storage check seems to be working:

[code]

Are you able to provide some more details / example configuration of your storage? Looks like you're using the built in Django file storage - are you setting your own `WATCHMAN_STORAGE_ROOT` / `MEDIA_ROOT`?

[2022-01-04 20:33] mwarkentin commented on #179
I've reproduced in the sample project:

[code]

[code]

[2022-01-04 20:41] mwarkentin commented on #179
Setting a relative storage path works:

[code]

@cayla is this something you can work with? Or do you see something that can be done within watchman itself to help with this? Can probably add some pointers in the documentation at a minimum.

[2022-01-04 20:51] cayla commented on #179
@mwarkentin we can definitely work with that.  I wish I had explored PR #156 more closely when you linked it before.

For the record, we have a `MEDIA_ROOT` with an absolute path and `WATCHMAN_STORAGE_PATH` wasn't set at all.

Thanks for your prompt reply and advice today.  Documentation sounds like a good idea in case there are any folks with a setup like ours.

[2022-01-04 20:51] mwarkentin commented on #179
Trying to leave the app root with a relative path (`WATCHMAN_STORAGE_PATH = "../../foo/bar"`) errors as well with the same `SuspiciousFileOperation` error.

[2022-01-06 21:05] Htermotto opened #182 "Publish new pypi release to support Django 4"
The latest release on pypi is [1.2.0](https://pypi.org/project/django-watchman/) but this does not support Django 4 due to trying to import ugettext instead of gettext on line 9 of views.py.

It appears that there haven't been automated releases for some time. Can someone manually publish a new release that supports Django 4, or point me to it if I am missing it?

Thanks!

[2022-01-07 03:13] mwarkentin commented on #182
Heya, I've been doing some work on getting the automated processes I have modernized (eg getting off of travisCI, etc).

I'm hoping to put out a release soon, I can take a look at this (I think I might've already fixed this issue a little while back).

[2022-01-07 03:20] Htermotto commented on #182
Thanks! The issue appears fixed. The only thing is there is no recent published version to pypi. I can point to a sha, but poking around here there seemed to be some open issues on fixing the automated process like you said, so I figured I'd bug first before going to sha route.

[2022-01-07 03:32] mwarkentin commented on #182
@Htermotto no worries! I'd say if this is a time-sensitive issue for you I would go ahead and point the the SHA - I will update this issue when there's an official release published and you can swap back.

[2022-01-17 02:40] mwarkentin opened #183 "Link to examples of custom checks"
Approximately 40 search results: https://github.com/search?q=from+watchman.decorators+import+check&type=code

[2022-01-19 13:00] benwhalley opened #184 "Django 4 throws a Detected path traversal attempt error"
Upgrading to Django 4 throws a SuspiciousOperation exception because the storages check doesn't use a relative path (this occurs using containerised app where MEDIA_ROOT is outside the path of the app itself.

Specifically in checks.py, on line 64,

[code]

Should wrap the join path with `os.path.relpath`.

[2022-01-19 13:37] #184 closed

[2022-02-04 09:36] alpine-digger commented on #182
Hi @Htermotto do you have some idea when a new release could be available? Thanks.

[2022-02-04 14:39] Htermotto commented on #182
@alpine-digger I'm not a maintainer or contributor of this project. You'll have to check with @mwarkentin.

[2022-02-10 17:33] #172 closed

[2022-02-25 16:33] sshishov commented on #67
Personally I do not understand this check. If the evn variable is required, you server will not just start and already will produce 502 or ConnectionRefused.
If the variable is there, then everything is started and no need to check anything. Am I missing something here?

[2022-02-28 15:13] mwarkentin commented on #182
@alpine-digger @Htermotto sorry about the delay - I've published a [`1.3.01.3.0a1` release](https://pypi.org/project/django-watchman/1.3.0a1/) if you'd like to test it out and let me know how it's working for you.

[2022-02-28 15:16] mwarkentin commented on #67
@sshishov it's been quite a while since I opened this ticket, but I **think** what I was thinking was around the possibility of using Django-watchman as a check on a new deployment before cutting traffic over..

1. Deploy new code but don't send traffic yet
2. Manually or automatically use the watchman CLI on the new release to confirm everything is looking good (including expected env vars are se

[2022-02-28 15:18] mwarkentin commented on #165
Fixed in #174

[2022-02-28 15:18] #165 closed

[2022-02-28 15:20] mwarkentin commented on #176
Tests can be run w/ act after #174

[2022-02-28 15:20] #176 closed

[2022-02-28 15:21] #144 closed

[2022-02-28 15:27] mwarkentin commented on #97
Some integrations we could document:

* https://upptime.js.org
* https://uptimerobot.com
* https://www.statuscake.com
* https://www.pingdom.com
* https://www.panopta.com
* https://updown.io
* https://cronitor.io
* https://betteruptime.com

[2022-03-03 09:19] PyVCEchecker opened #186 "“python_requires” should be set with “>=3.4”, as django-watchman 1.2.0 is not compatible with all Python versions."
Currently, the keyword argument **python_requires** of **setup()** is not set, and thus it is assumed that this distribution is compatible with all Python versions.
However, I found it is not compatible with **Python 2**. My local Python version is 2.7, and I encounter the following error when executing __“pip install django-watchman”__

[code]

Dependencies of this distribution are listed as foll

[2022-03-04 16:22] mwarkentin commented on #182
@alpine-digger @Htermotto I've published [`django-watchman#1.3.0`](https://pypi.org/project/django-watchman/1.3.0/) with Django 4 support - please re-open if you run into any further issues. :)

[2022-10-31 18:14] mwarkentin opened #187 "curl should be installed in docker image"
**Is your feature request related to a problem? Please describe.**
I want to be able to curl resources from within the docker container

**Describe the solution you'd like**
Install curl inside of the docker file

**Describe alternatives you've considered**
netcat

[2022-11-24 14:56] kiarashazarnia opened #188 "Returns 200 when custom check raises Exception"
**Describe the bug**

Returns 200 when custom check raises Exception on the health service.

**To Reproduce**

implement a custom check like this:

[code]

**Expected behavior**

I expect a non-OK overall response but it gets something like this:

[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Python version: 3.8
 - Django-watchman version 1.3.0
 - Django-w

[2022-11-25 04:13] mwarkentin commented on #188
@kiarashazarnia thanks for opening this issue - sorry this isn't working as you'd expected!

Can you confirm for me the response code on the request? Eg. if you're using `curl` to call the endpoint could you run `curl -I` and paste the output?

The expected behaviour with your config would be to return the response you provided, but it would be a `500` error code (see `WATCHMAN_ERROR_CODE = 500`)

[2022-11-25 06:07] kiarashazarnia commented on #188
Thanks for your informative response dear @mwarkentin.
I hope this will help:

[code]

With this custom health check function:

[code]

[2022-11-25 13:44] mwarkentin commented on #188
Thanks, that doesn't seem right. I'll need to try to reproduce myself to figure out what's going on.

[2022-11-25 13:49] mwarkentin commented on #188
@kiarashazarnia could you also visit `/watchman/dashboard` and paste a screenshot of what you see?

[2022-11-25 13:56] mwarkentin commented on #188
I've reproduced the issue here: https://github.com/mwarkentin/django-watchman/pull/189

I'll let you know when I have a fix available.. thanks!

[2022-11-25 14:48] mwarkentin commented on #188
@kiarashazarnia Ok, it looks like the docs are not correct, and the current way you need to use the `@check` decorator is from within a wrapper. If you take a look at the [builtin checks](https://github.com/mwarkentin/django-watchman/blob/main/watchman/checks.py#L76-L89) this is how they work as well.

[code]

When implemented like this, here is what I get when I raise an exception in my custom ch

[2022-11-25 15:19] mwarkentin commented on #188
I've updated the sample project with 2 custom checks (one successful, one failing), I'll open a separate PR to update the docs on writing custom checks.

I suspect it's possible to make the `@check` operator smarter and not need to be wrapped, but I don't have time to look into that currently. If it's something you'd be interested in working on, let me know.

[2022-11-25 15:28] kiarashazarnia commented on #188
Thanks for your attention, yeah... I'm willing to have some contribution and honestly, I have an idea to fix it.
I will inform you as soon as I find time to share my idea with you in a PR. I will be happy to be notified if you fix it sooner or have some advice or a contribution guide link for me.
Good Luck

[2022-11-25 15:55] mwarkentin opened #191 "@check decorator breaks response without being wrapped"
**Is your feature request related to a problem? Please describe.**
`@check` decorator only works when the check is wrapped by another function which provides the basic response dict (`{"check": _decorated_func()}`). It would be nice if `@check` supported being the top-level check function.

**Describe the solution you'd like**
I'd like to be able to define a custom check like this:

[code]

**Desc

[2022-11-25 15:56] mwarkentin commented on #188
@kiarashazarnia I'm going to close this off with the doc and example update, I've created a separate issue which describes the decorator improvement if you'd like to take a crack at it sometime: #191

[2022-11-25 15:59] #188 closed

[2022-11-25 16:01] mwarkentin opened #192 "Rewrite docs with markdown"
**Is your feature request related to a problem? Please describe.**
Github docs are generally written in markdown these days.

**Describe the solution you'd like**
Replace `.rst` docs with `.md`.

[2022-11-25 16:10] mwarkentin commented on #146
@tisdall in an amazingly slow response, this came up again in #188. I've updated the docs and sample project with the current way to write custom checks:

* #189
* #190

You currently need to wrap the check in another function in order to provide the proper response structure on both exceptions and ok status:

[code]

I've opened #191 for an improvement to the decorator which would allow it to wor

[2022-11-25 16:10] #146 closed

[2022-11-26 16:21] mwarkentin commented on #147
Closing as I've provided a proper way to write custom checks in the docs in #190.

[2022-11-26 16:21] #147 closed

[2022-11-29 14:20] tisdall commented on #191
I think what you want is here: https://github.com/mwarkentin/django-watchman/issues/77#issuecomment-215179580

[2022-11-29 15:25] mwarkentin commented on #191
Thanks.. to 7 years ago you. 😳

[2022-11-29 20:54] mwarkentin commented on #191
@kiarashazarnia if this is something you want to work on there might be something to build off of in the comment above. :)